.App {
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-desk {
    margin: 0 auto;
    width: 700px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
